<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<jsp-config>
		<taglib>
			<taglib-uri>rgk://com.push.admin.tags/RgkTag</taglib-uri>
			<taglib-location>/WEB-INF/rgkTag.tld</taglib-location>
		</taglib>
	</jsp-config>
	<servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>
			org.directwebremoting.servlet.DwrServlet
		</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
  			 <param-name>crossDomainSessionSecurity</param-name>
  			 <param-value>false</param-value>
  		</init-param>		
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TestUserInfo</servlet-name>
		<servlet-class>
			com.push.admin.servlet.UserInfoServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestUserInfo</servlet-name>
		<url-pattern>/userInfo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.UserServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RoleServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.RoleServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleServlet</servlet-name>
		<url-pattern>/role</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PermissionServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.PermissionServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PermissionServlet</servlet-name>
		<url-pattern>/permission</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserRoleServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.UserRoleServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRoleServlet</servlet-name>
		<url-pattern>/userRole</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RolePermissionServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.RolePermissionServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolePermissionServlet</servlet-name>
		<url-pattern>/rolePermission</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ProjectManagementServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.ProjectManagementServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectManagementServlet</servlet-name>
		<url-pattern>/terminal/projectManagement</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TerminalManagementServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.TerminalManagementServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TerminalManagementServlet</servlet-name>
		<url-pattern>/terminal/terminalManagement</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ApkFileServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.ApkFileServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApkFileServlet</servlet-name>
		<url-pattern>/app/apkFileServlet</url-pattern>
	</servlet-mapping>
    <servlet>
        <servlet-name>pushCommandsServlet</servlet-name>
        <servlet-class>
            com.push.admin.servlet.PushCommandsServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pushCommandsServlet</servlet-name>
        <url-pattern>/commands/pushCommandsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pushCommandsHisServlet</servlet-name>
        <servlet-class>
            com.push.admin.servlet.PushCommandsHisServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pushCommandsHisServlet</servlet-name>
        <url-pattern>/commands/pushCommandsHisServlet</url-pattern>
    </servlet-mapping>
	<servlet>
		<servlet-name>CountryCodeServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.CountryCodeServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CountryCodeServlet</servlet-name>
		<url-pattern>/terminal/countryManagement</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AppPushServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.AppPushServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppPushServlet</servlet-name>
		<url-pattern>/app/appPushServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AppManagementServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.AppManagementServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppManagementServlet</servlet-name>
		<url-pattern>/app/appManagementServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PushLinkServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.PushLinkServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PushLinkServlet</servlet-name>
		<url-pattern>/link/pushLinkServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PushLinkHisServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.PushLinkHisServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PushLinkHisServlet</servlet-name>
		<url-pattern>/link/pushLinkHisServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PushTextServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.PushTextServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PushTextServlet</servlet-name>
		<url-pattern>/text/pushTextServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PushUpdateClientServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.PushUpdateClientServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PushUpdateClientServlet</servlet-name>
		<url-pattern>/sys/pushUpdateClientServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PushUpdateClientHisServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.PushUpdateClientHisServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PushUpdateClientHisServlet</servlet-name>
		<url-pattern>/sys/pushUpdateClientHisServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PushUpdateConfigServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.PushUpdateConfigServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PushUpdateConfigServlet</servlet-name>
		<url-pattern>/sys/pushUpdateConfigServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PushClientFileServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.PushClientFileServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PushClientFileServlet</servlet-name>
		<url-pattern>/sys/pushClientFileServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PushUpdateConfigHisServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.PushUpdateConfigHisServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PushUpdateConfigHisServlet</servlet-name>
		<url-pattern>/sys/pushUpdateConfigHisServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PushTextHisServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.PushTextHisServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PushTextHisServlet</servlet-name>
		<url-pattern>/text/pushTextHisServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PushApkHisServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.PushApkHisServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PushApkHisServlet</servlet-name>
		<url-pattern>/app/pushApkHisServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PushLinkIconServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.PushLinkIconServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PushLinkIconServlet</servlet-name>
		<url-pattern>/link/pushLinkIconServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PushTextIconServlet</servlet-name>
		<servlet-class>
			com.push.admin.servlet.PushTextIconServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PushTextIconServlet</servlet-name>
		<url-pattern>/text/pushTextIconServlet</url-pattern>
	</servlet-mapping>
	<listener>
	<listener-class>com.push.admin.timer.startListner</listener-class>
	</listener>
  	<welcome-file-list>
    	<welcome-file>login.jsp</welcome-file>
  	</welcome-file-list>
  	<error-page>
  		<error-code>403</error-code> <!-- 禁止访问 -->
  		<location>/error/403.jsp</location>
  	</error-page>
  	<error-page>
  		<error-code>404</error-code> <!-- 访问的资源不存在 -->
  		<location>/error/404.jsp</location>
  	</error-page>
  	<error-page>
  		<error-code>500</error-code>
  		<location>/error/505.jsp</location> <!-- 内部服务器错误 -->
  	</error-page>
  	<error-page>
  		<exception-type>java.lang.Exception</exception-type>
  		<location>/error/exception.jsp</location>
  	</error-page>
  	<context-param>
  		<param-name>superUserName</param-name>
  		<param-value>admin</param-value>
  	</context-param>
  	<context-param>
  		<param-name>superUserPwd</param-name>
  		<param-value>123456</param-value>
  	</context-param>
</web-app>
